services:
  caddy:
    image: caddy:2.9.1-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile
#      - $PWD/Caddyfile:/etc/caddy/Caddyfile
    network_mode: host
